
@{
	Layout = "~/Views/Shared/_IntranetLayout.cshtml";
}


@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Intranet", new { area = "" }, new { @class = "nav-link" })
<div>
	<h1>INTRANET</h1>
	<!--<h2>Usuario: @ViewBag.usuario</h2>-->


</div>
